@use '../../../../../styles/variables' as v;
@use '../../../../../styles/mixins' as m;

th{
  font-weight: 600;
  color: v.$color-primario !important;
  background-color: v.$color-negro !important;
}

td{
  color: v.$color-negro;
}
